@import "var.scss";
@import "mixins.scss";

html{
	font-size: $font_base;
}
.header{
	&-top{
		width: 100%;
		background: #22262a;
		padding: 0 15px;
		font-family: $font_Montserrat;
		box-sizing: border-box;

		&__wrap{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			@include _sm{
				justify-content: space-between;
			}
			@include _md{
				justify-content: space-between;
			}
			@include _lg{
				justify-content: space-between;
			}
			@include _xl{
				justify-content: space-between;
			}					
			@include _xxl{
				justify-content: space-between;
			}
		}
		&__help{
			font-size: 1.4rem;
			padding: 15px 0;
			margin: 0 auto;
			order: 1;

			@include _sm{}
			@include _md{
				margin: 0;
			}
			@include _lg{
				margin: 0;
			}
			@include _xl{
				margin: 0;
			}			
			@include _xxl{
				margin: 0;
			}
		}
		&__phone-email{
			flex-grow: 1;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			color: $white;
			padding: 15px 0;
			order: 3;
			& i{
				color: $yellow;
			}
			& div a{
				padding: 0 5px;
				font-size: 1.3rem;

				@include _lg{
					padding: 0 20px;
					font-size: 1.5rem;
				}
				@include _xl{
					width: auto;
					padding: 0 20px;
					font-size: 1.5rem;
				}			
				@include _xxl{
					width: auto;
					padding: 0 20px;
					font-size: 1.5rem;
				}
			}
			@include _sm{
				order: 3;
			}
			@include _md{
				order: 3;
			}
			@include _lg{
				order: 3;
			}
			@include _xl{
				width: auto;
				order: 2;
			}			
			@include _xxl{
				width: auto;
				order: 2;
			}
		}
		&__weather{
			color: $yellow;
			font-size: 1.5rem;
			font-weight: 500;
			order: 2;
			padding: 15px 0;
			width: 100%;
			text-align: center;

			@include _sm{
				font-size: 1.5rem;
				width: 100%;
				text-align: center;
				order: 2;
			}
			@include _md{
				width: auto;
				text-align: right;
				order: 2;
			}
			@include _lg{
				width: auto;
				text-align: right;
				order: 2;
			}
			@include _xl{
				width: auto;
				order: 3;
			}					
			@include _xxl{
				width: auto;
				order: 3;
			}
		}
	}
	&-center{
		border-bottom: 1px solid $gray;
		&__wrap{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 20px auto !important;
		}
		&__info{
			
			& a{
				color: #000;
				line-height: 4.5rem;
				width: 4.5rem;
				height: 4.5rem;
				& i{
					font-size: 2rem;
				}
			}
		}
	}
	&-bottom{
		&__wrap{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0 0 0;
		}
		&__social{
			
			& a{
				color: #000;
				line-height: 4.5rem;
				background: $gray2;
				width: 4.5rem;
				height: 4.5rem;

				& i{
					font-size: 1.5rem;
				}
			}
		}
		&__menu{

		}

	}
}
.help{
	display: inline-flex;
	justify-content: space-between;
	width: 200px;
	&__item{
		position: relative;

		&:nth-child(1n+2)::before{
			background: $yellow;
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			top: 5px;
			left: -17px;
		}
	}
}
.logo{
	width: 274px;
}
.banner{
	position: relative;
	&__text{
		position: absolute;
		top: 50%;
		left: 30px;
		margin-top: -20px;
		font-size: 1.5rem;
		font-family: $font_Montserrat;
		font-weight: 600;
		color: #000;
		& span{
			line-height: 3rem;
			font-size: 2rem;
			font-weight: 700;
		}
	}
}
.info{
	display: inline-flex;
	width: 274px;
	justify-content: space-between;

	&__item{
		text-align: center;
	}
	&__link{
		display: block;
		height: 100%;
		width: 100%;
		border-radius: 30%;
		background: $gray;
		transition: 1s;

		&:hover{
			background: $yellow;
			transition: 1s;
		}
	}
}
.menu{
	display: inline-flex;
	justify-content: space-between;

	&__item{
		text-align: center;
		position: relative;
		&_active > span a{
			color: $yellow;
		}
		span{
			position: relative;
			&::before{
				font-family: 'fa-solid';
				content: '\f107';
				position: absolute;
				top: 0;
				right: 0;
			}
			& + ul{
				display: none;
			}
			&:hover + ul{
				display: block;
			}
		}
		
	}
	&__link{
		font-family: $font_Montserrat;
		font-size: 1.6rem;
		font-weight: 500;
		display: block;
		height: 100%;
		width: 100%;
		color: #000;
		text-decoration: none;
		padding: 0 20px;
		&:hover{
			color: $yellow;
			transition: 0.5s;
		}
	}
	&__menu2{
		position: absolute;


	}	
}
.menu2{
	border: 1px solid #000;
	margin-top: -10px;
	&__item{
		min-width: 135px;
		box-sizing: border-box;
		padding: 5px 30px;
		text-align: left;
	}
	&__link{
		text-decoration: none;
		font-size: 1.5rem;
		font-family: $font_Montserrat;
	}
}
.link{
	text-decoration: none;
	color: $white;
	font-family: $font_Montserrat;
	font-weight: 500;
	font-size: 1.5rem;

	&:hover{
		color: $yellow;
		transition: 0.2s;
	}
}
.wrap{
	margin: 0 auto;
	@include _xxl{
		width: 1200px;
	}
	@include _xl{
		width: 1140px;
	}
	@include _lg{
		width: 960px;
	}
	@include _md{
		width: 720px;
	}
	@include _sm{

	}
}