@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Цвет
$white: #fff;
$gray: #f4f4f4;
$gray2:#ddd;
$gray3:#f7f7f7;
$gray4:#9b9ea1;
$yellow:#ffc4a0;
$yellow-b:#ffebdf;


// Шрифт
$font_base: 10px;
$font_Montserrat:'Montserrat', sans-serif;
$font_icon: 'FontAwesome';

// адаптив

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
